<tr data-id="~id~">
    <td width="10%">
        <i class="move"></i>
        <a href="~language_prefix~/~pagename~/notifications/rules/edit/id/~id~" title="*Edit*" class="edit"><i class="fa fa-pencil"></i></a>
        <a href="~language_prefix~/~pagename~/notifications/rules/delete/id/~id~" title="*Delete*"
           onclick="return confirm('*Are you sure want to delete this notification rule*?');" class="delete"><i class="fa fa-trash-o"></i></a>
    </td>
    <td width="20%" class="text-left">~type_name~</td>
    <td width="25%" class="text-left">~event_name_code~</td>
    <td width="35%" class="text-left">~user_name~</td>
    <td width="10%" class="text-left"><input
            type="checkbox"
            value="1"
            id="checkbox_~id~"
            data-edit="notify"
            data-m-action="onchange_update"
            data-m-model="modules\notifications\models\notifications_rules"
            ~notify_checked~
    >
        <label class="checkbox small" for="checkbox_~id~">*Notify*</label></td>
</tr>