<div class="additional-links">
    <a href="~language_prefix~/~pagename~/notifications/templates/add" title="*Add new notification template*"><i class="fa fa-plus"></i></a>
</div>
~alerts~
<table cellpadding="0" cellspacing="0" class="admin-overview">
<thead>
    <tr>
        <th width="10%"></th>
        <th width="20%" class="text-left">*Type*</th>
        <th width="20%" class="text-left">*Event*</th>
        <th width="30%" class="text-left">*User*</th>
        <th width="20%" class="text-left"></th>
    </tr>
</thead>
<tbody data-m-action="drag_sort" data-m-model="modules\notifications\models\notifications_templates">
    ~items~
</tbody>
</table>